<!DOCTYPE HTML>
<html ng-app="db-project">
<head>
    <title>Database Jesters 2018</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="./node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="./css/custom.css">
    <link rel="stylesheet" type="text/css" href="./node_modules/angularjs-slider/dist/rzslider.min.css">    
    
    <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-material/angular-material.min.js"></script>
    <script src="./node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="./node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="./node_modules/angularjs-slider/dist/rzslider.min.js"></script>

    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/sharedproperties.factory.js"></script>
    <script type="text/javascript" src="./js/app.config.js"></script>
    <script type="text/javascript" src="./js/personalDashController.js"></script>
    <script type="text/javascript" src="./js/musicController.js"></script>
    <script type="text/javascript" src="./js/advertisementController.js"></script>
    <script type="text/javascript" src="./js/drinkerController.js"></script>
    <script type="text/javascript" src="./js/beerController.js"></script>
    <script type="text/javascript" src="./js/earningsController.js"></script>
    <script type="text/javascript" src="./js/beerFilters.js"></script>
    <script type="text/javascript" src="./js/bartenderController.js"></script>

</head>
<body ng-controller="pageController as page">
    <div  ng-if="page.currPage!='home'">
        <md-nav-bar  
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="page.changePage('personal_bar_data')" name="personalTab">
                Dashboard
            </md-nav-item>
            <md-nav-item md-nav-click="page.changePage('modify_bar_data')" name="modifyDataTab">
                Add/Remove Data
            </md-nav-item>
        </md-nav-bar>
    </div>
    <md-content ng-if="page.currPage=='personal_bar_data'" ng-controller="personalDashController as personal" layout-padding>
        <div layout="row"  layout-align ="center">
            <div flex="10" md-theme="cyan-theme" class="md-accent" style="background-color: none;">
            </div>
            <div flex="80" layout ="column" md-theme="cyan-theme" layout-align="center">
                <h2 >{{'Personalized Statistics For: '+personal.selectedBar.name}}</h2>
                <div flex="5" layout="row" class="md-warn" ng-init="personal.getBars()">
                    <md-input-container>
                        <label>Bar Name</label>
                        <md-select ng-model="personal.selectedBar" ng-disabled="personal.selectedBar" ng-change="personal.recalcData()">
                            <md-option ng-repeat="bar in personal.allBars()"  ng-value="bar">
                            {{bar.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-button ng-click="personal.clearValue()" ng-disabled="!personal.selectedBar">Clear</md-button>
                </div>
                <div flex="87" layout="column" ng-if="personal.selectedBar">
                    <div  flex="40" layout="row" layout-align="center">
                        <md-card flex md-theme="cyan-theme" class="md-primary" ng-controller="earnings as earn" ng-init="earn.instantiate(personal.selectedBar.id,'total')" md-theme-watch>
                            <md-card-title>
                              <md-card-title-text>
                                <span class="md-headline">Earnings</span>
                                <br>
                              </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <md-radio-group ng-model="earn.timeType"">
                                    <md-radio-button value="monthly">Monthly Totals</md-radio-button>
                                    <md-radio-button value="day-of-week">Daily Averages</md-radio-button>
                                </md-radio-group>
                                <md-checkbox ng-model="earn.early" aria-label="Checkbox 1" ng-click="earn.switchData('early',earn.early)">
                                    Early
                                </md-checkbox>
                                <md-checkbox ng-model="earn.late" aria-label="Checkbox 2" ng-click="earn.switchData('late',earn.late)">
                                    Late
                                </md-checkbox>
                                <md-checkbox ng-model="earn.total" aria-label="Checkbox 3" ng-click="earn.switchData('total',earn.total)">
                                    Total
                                </md-checkbox>
                                <div >

                                    <canvas ng-show="earn.timeType=='monthly'" id="line" class="chart chart-line"
                                    chart-data="earn.data_monthly"
                                    chart-labels="earn.labels_monthly"

                                    chart-options="earn.options" >
                                    </canvas>
                                    <canvas ng-show="earn.timeType=='day-of-week'" id="line" class="chart chart-bar"
                                    chart-data="earn.data_daily"
                                    chart-labels="earn.labels_daily"
                                    chart-series="earn.series"
                                    chart-options="earn.options" >
                                    </canvas>
                                    <br>
                                    <md-input-container >
                                        <label>Start Date</label>
                                        <md-select ng-model="earn.startDate" ng-change="earn.instantiate(personal.selectedBar.id,earn.getTimeType())">
                                            <md-option ng-repeat="date in earn.dateOptions" ng-value="date">
                                            {{date|dateFilter}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container >
                                        <label>End Date</label>
                                        <md-select ng-model="earn.endDate" ng-change="earn.instantiate(personal.selectedBar.id,earn.getTimeType())">
                                            <md-option ng-repeat="date in earn.dateOptions" ng-value="date">
                                            {{date|dateFilter}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </md-card-content>
                        </md-card>
                        <md-card flex md-theme="cyan-theme" ng-controller="bartenders as bt" ng-init="bt.setBartenders(personal.selectedBar.id, 'total')" md-theme-watch>
                            <md-card-title>
                              <md-card-title-text>
                                <span class="md-headline">Bartender Sales</span>
                                  <p>Sales for shift: </p>
                                  <div layout="row">
                                      <md-checkbox ng-model="bt.early" aria-label="Checkbox 1" ng-disabled="bt.disableCheck('early')" ng-click="bt.switchData('early',bt.early)">
                                          Early
                                      </md-checkbox>
                                      <md-checkbox ng-model="bt.late" aria-label="Checkbox 2" ng-disabled="bt.disableCheck('late')" ng-click="bt.switchData('late',bt.late)">
                                          Late
                                      </md-checkbox>
                                      <md-checkbox ng-model="bt.total" aria-label="Checkbox 3" ng-disabled="bt.disableCheck('total')" ng-click="bt.switchData('total',bt.total)">
                                          Total
                                      </md-checkbox>
                                  </div>
                                  <div>
                                      <table class="table table-responsive table-condensed">
                                          <tr>
                                              <th ng-repeat="label in bt.labels" ng-click="bt.changeSort(label)" style="cursor: pointer;">{{label}}</th>
                                          </tr>
                                          <tr ng-repeat="bartender in bt.data|orderBy :bt.sortType:bt.sortReverse">
                                              <td ng-repeat="(key,value) in bartender track by $index">{{value}}</td>
                                          </tr>
                                      </table>
                                  </div>
                              </md-card-title-text>
                            </md-card-title>
                        </md-card>
                    </div>
                    <div flex="40"  layout="row" layout-align="center">
                        <md-card flex md-theme="cyan-theme" ng-controller="advertisementController as ad" ng-init="ad.setAds(personal.selectedBar.id)"md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Advertisements</span>
                                    <md-input-container >
                                        <label>Ad platform</label>
                                        <md-select ng-model="ad.selectedAd" ng-change="ad.setData(ad.selectedAd)">
                                            <md-option ng-repeat="campaign in ad.getAds()" ng-value="campaign">
                                                {{campaign.platformName}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div ng-repeat="platform in ad.getAds()" ng-show="ad.selectedAd==platform">
                                        <b><label>Start Date: </label></b>{{ad.selectedAd['startDate'] | date:"MM/dd/yyyy"}}<br>
                                        <label>Earnings for {{ad.selectedAd['startDate'] | date:"MMMM"}}: $</label>{{ad.getAdEarnings(ad.selectedAd['startDate'] | date:"M")}}.00<br><br>
                                        <b><label>End Date: </label></b>{{ad.selectedAd['endDate'] | date:"MM/dd/yyyy"}}<br>
                                        <label>Earnings for {{ad.selectedAd['endDate'] | date:"MMMM"}}: $</label>{{ad.getAdEarnings(ad.selectedAd['endDate'] | date:"M")}}.00<br><br>
                                        <canvas  id="line" class="chart chart-bar"
                                                 chart-data="ad.data"
                                                 chart-labels="ad.labels"
                                                 chart-series="ad.series"
                                                 chart-options="ad.options"
                                        >
                                        </canvas>
                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <md-card flex md-theme="cyan-theme" ng-controller="beerInfoController as beerCtrl" ng-init="beerCtrl.setAllBeers(personal.selectedBar.id)">
                            <md-card-title>
                              <md-card-title-text>
                                <span class="md-headline">Beer Info</span>
                              </md-card-title-text>
                                <md-input-container >
                                    <label>Add a beer</label>
                                    <md-select ng-model="beerCtrl.newBeer" ng-change="beerCtrl.addBeer(beerCtrl.newBeer)">
                                        <md-option ng-repeat="beer in beerCtrl.getAllBeers()| orderBy: ['manuf','name']" ng-show="!beerCtrl.beerDict.includes(beer)||1" ng-value="beer">
                                            {{beer.manuf + ': ' + beer.name}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <canvas  id="line" class="chart chart-line"
                                         chart-data="beerCtrl.data"
                                         chart-labels="beerCtrl.labels"
                                         chart-series="beerCtrl.series"
                                >
                                </canvas>
                                <div>
                                    <span ng-repeat="(key,value) in beerCtrl.beerDict" ng-click="beerCtrl.removeBeer(key)">{{key + ', '}}</span>
                                </div>
                            </md-card-title>
                        </md-card>
                    </div>
                    <div flex="40" layout="row" layout-align="center">
                        <md-card flex md-theme="cyan-theme" ng-controller="musicTrendController as music" ng-init="music.setTrends(personal.selectedBar.id)"md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Drinkers</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <div>
                                    <canvas id="line" class="chart chart-bar"
                                            chart-data="music.data"
                                            chart-labels="music.labels"
                                            chart-options="music.options"
                                    >
                                    </canvas>
                                </div>
                            </md-card-content>
                        </md-card>
                        <md-card flex md-theme="cyan-theme" ng-controller="musicTrendController as music" ng-init="music.setTrends(personal.selectedBar.id)"md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Music Trends</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <div>
                                    <canvas id="line" class="chart chart-bar"
                                            chart-data="music.data"
                                            chart-labels="music.labels"
                                            chart-options="music.options"
                                    >
                                    </canvas>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </div>
            <div flex="10" style="background-color: none;">
            </div>
        </div>

    </md-content>
    <md-content ng-if="page.currPage=='modify_bar_data'" ng-controller="modifyDataDashController as modDat" layout-padding>
        <!--<div flex="40" layout="row" layout-align="center">
            <md-card flex md-theme="cyan-theme" ng-controller="drinkerController as d">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Add Drinker</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <br/>
                    <md-content class="md-no-momentum">
                        <md-input-container class="md-icon-float md-block">
                            <!-- Use floating label instead of placeholder --
                            <label>Name</label>
                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                            <input ng-model="user.name" type="text">
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                            <input ng-model="user.age" type="number" step="1" placeholder="Age">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <!-- Use floating placeholder instead of label --
                            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="gender"></md-icon>
                            <input ng-model="user.gender" type="text" placeholder="Gender" ng-required="true">
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <input ng-model="user.street_address" type="text" placeholder="Street Address" >
                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" ></md-icon>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <input ng-model="user.city" type="text" placeholder="City" >
                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" ></md-icon>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <input ng-model="user.state" type="text" placeholder="State" >
                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" ></md-icon>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <input ng-model="user.salary" type="number" step = "1" placeholder="Salary" >
                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" ></md-icon>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <input ng-model="user.spending_per_night" type="text" placeholder="Spending Per Night" >
                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" ></md-icon>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <md-radio-group ng-model="data.crowding_pref">

                                <md-radio-button value="Not crowded" class="md-primary">Not Crowded</md-radio-button>
                                <md-radio-button value="Moderately crowded">Moderately Crowded</md-radio-button>
                                <md-radio-button value="Very crowded">Very Crowded</md-radio-button>

                            </md-radio-group>

                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <md-radio-group ng-model="data.relationship_status">

                                <md-radio-button value="Single" class="md-primary">Single</md-radio-button>
                                <md-radio-button value="In a relationship">In a relationship</md-radio-button>

                            </md-radio-group>

                        </md-input-container>

                    </md-content>
                </md-card-content>
            </md-card>
        </div>-->
        <!--<div  layout="column" layout-padding ng-cloak>

            <br/>
            <md-content class="md-no-momentum">
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder --
                    <label>Name</label>
                    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                    <input ng-model="user.name" type="text">
                </md-input-container>

                <md-input-container md-no-float class="md-block">
                    <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                    <input ng-model="user.phone" type="text" placeholder="Phone Number">
                </md-input-container>

                <md-input-container class="md-block">
                    <!-- Use floating placeholder instead of label --
                    <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
                    <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                </md-input-container>

                <md-input-container md-no-float class="md-block">
                    <input ng-model="user.address" type="text" placeholder="Address" >
                    <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
                </md-input-container>

                <md-input-container class="md-icon-float md-icon-right md-block">
                    <label>Donation Amount</label>
                    <md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>
                    <input ng-model="user.donation" type="number" step="0.01">
                    <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
                </md-input-container>

            </md-content>

        </div>-->
        <div flex="40" layout="row" layout-align="center">
            <md-card flex md-theme="cyan-theme" ng-controller="drinkerController as d">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Add Drinker</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <br/>
                    <md-content class="md-no-momentum">
                        <md-input-container class="md-icon-float md-block">
                            <!-- Use floating label instead of placeholder -->
                            <label>Name</label>
                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                            <input ng-model="user.name" type="text">
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                            <input ng-model="user.age" type="number" step="1" placeholder="Age">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <!-- Use floating placeholder instead of label -->
                            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="gender"></md-icon>
                            <input ng-model="user.gender" type="text" placeholder="Gender" ng-required="true">
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <input ng-model="user.street_address" type="text" placeholder="Street Address" >
                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" ></md-icon>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <input ng-model="user.city" type="text" placeholder="City" >
                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" ></md-icon>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <input ng-model="user.state" type="text" placeholder="State" >
                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" ></md-icon>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <input ng-model="user.salary" type="number" step = "1" placeholder="Salary" >
                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" ></md-icon>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <input ng-model="user.spending_per_night" type="text" placeholder="Spending Per Night" >
                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" ></md-icon>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <md-radio-group ng-model="data.crowding_pref">

                                <md-radio-button value="Not crowded" class="md-primary">Not Crowded</md-radio-button>
                                <md-radio-button value="Moderately crowded">Moderately Crowded</md-radio-button>
                                <md-radio-button value="Very crowded">Very Crowded</md-radio-button>

                            </md-radio-group>

                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <md-radio-group ng-model="data.relationship_status">

                                <md-radio-button value="Single" class="md-primary">Single</md-radio-button>
                                <md-radio-button value="In a relationship">In a relationship</md-radio-button>

                            </md-radio-group>

                        </md-input-container>

                    </md-content>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</body>