<!DOCTYPE HTML>
<html ng-app="db-project">
<head>
    <title>Database Jesters 2018</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="./node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="./css/custom.css">
    <link rel="stylesheet" type="text/css" href="./node_modules/angularjs-slider/dist/rzslider.min.css">    
    
    <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-material/angular-material.min.js"></script>
    <script src="./node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="./node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="./node_modules/angularjs-slider/dist/rzslider.min.js"></script>

    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/sharedproperties.factory.js"></script>
    <script type="text/javascript" src="./js/app.config.js"></script>
    <script type="text/javascript" src="./js/personalDashController.js"></script>
    <script type="text/javascript" src="./js/musicController.js"></script>
    <script type="text/javascript" src="./js/advertisementController.js"></script>
    <script type="text/javascript" src="./js/drinkerController.js"></script>
    <script type="text/javascript" src="./js/beerController.js"></script>
    <script type="text/javascript" src="./js/earningsController.js"></script>
    <script type="text/javascript" src="./js/beerFilters.js"></script>
    <script type="text/javascript" src="./js/bartenderController.js"></script>
    <script type="text/javascript" src="./js/modifyDataDashController.js"></script>

</head>
<body ng-controller="pageController as page">
    <div  ng-if="page.currPage!='home'">
        <md-nav-bar  
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="page.changePage('personal_bar_data')" name="personalTab">
                Dashboard
            </md-nav-item>
            <md-nav-item md-nav-click="page.changePage('modify_bar_data')" name="modifyDataTab">
                Add/Remove Data
            </md-nav-item>
        </md-nav-bar>
    </div>
    <md-content ng-if="page.currPage=='personal_bar_data'" ng-controller="personalDashController as personal" layout-padding>
        <div layout="row"  layout-align ="center">
            <div flex="10" md-theme="cyan-theme" class="md-accent" style="background-color: none;">
            </div>
            <div flex="80" layout ="column" md-theme="cyan-theme" layout-align="center">
                <h2 >{{'Personalized Statistics For: '+personal.selectedBar.name}}</h2>
                <div flex="5" layout="row" class="md-warn" ng-init="personal.getBars()">
                    <md-input-container>
                        <label>Bar Name</label>
                        <md-select ng-model="personal.selectedBar" ng-disabled="personal.selectedBar" ng-change="personal.recalcData()">
                            <md-option ng-repeat="bar in personal.allBars()"  ng-value="bar">
                            {{bar.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-button ng-click="personal.clearValue()" class="md-raised" ng-disabled="!personal.selectedBar">Clear</md-button>
                </div>
                <div flex="87" layout="column" ng-if="personal.selectedBar">
                    <div  flex="40" layout="row" layout-align="center">
                        <md-card flex md-theme="cyan-theme" class="md-primary" ng-controller="earnings as earn" ng-init="earn.instantiate(personal.selectedBar.id,'total')" md-theme-watch>
                            <md-card-title>
                              <md-card-title-text>
                                <span class="md-headline">Earnings</span>
                                <br>
                                  <md-card-content>
                                      <md-radio-group ng-model="earn.timeType"">
                                      <md-radio-button value="monthly">Monthly Totals</md-radio-button>
                                      <md-radio-button value="day-of-week">Daily Averages</md-radio-button>
                                      </md-radio-group>
                                      <md-checkbox ng-model="earn.early" aria-label="Checkbox 1" ng-click="earn.switchData('early',earn.early)">
                                          Early
                                      </md-checkbox>
                                      <md-checkbox ng-model="earn.late" aria-label="Checkbox 2" ng-click="earn.switchData('late',earn.late)">
                                          Late
                                      </md-checkbox>
                                      <md-checkbox ng-model="earn.total" aria-label="Checkbox 3" ng-click="earn.switchData('total',earn.total)">
                                          Total
                                      </md-checkbox>
                                      <div >

                                          <canvas ng-show="earn.timeType=='monthly'" id="line" class="chart chart-line"
                                                  chart-data="earn.data_monthly"
                                                  chart-labels="earn.labels_monthly"

                                                  chart-options="earn.options" >
                                          </canvas>
                                          <canvas ng-show="earn.timeType=='day-of-week'" id="line" class="chart chart-bar"
                                                  chart-data="earn.data_daily"
                                                  chart-labels="earn.labels_daily"
                                                  chart-series="earn.series"
                                                  chart-options="earn.options" >
                                          </canvas>
                                          <br>
                                          <md-input-container >
                                              <label>Start Date</label>
                                              <md-select ng-model="earn.startDate" ng-change="earn.instantiate(personal.selectedBar.id,earn.getTimeType())">
                                                  <md-option ng-repeat="date in earn.dateOptions" ng-value="date">
                                                      {{date|dateFilter}}
                                                  </md-option>
                                              </md-select>
                                          </md-input-container>
                                          <md-input-container >
                                              <label>End Date</label>
                                              <md-select ng-model="earn.endDate" ng-change="earn.instantiate(personal.selectedBar.id,earn.getTimeType())">
                                                  <md-option ng-repeat="date in earn.dateOptions" ng-value="date">
                                                      {{date|dateFilter}}
                                                  </md-option>
                                              </md-select>
                                          </md-input-container>
                                      </div>
                                  </md-card-content>
                              </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <md-card flex md-theme="cyan-theme" ng-controller="bartenders as bt" ng-init="bt.setBartenders(personal.selectedBar.id,'total')" md-theme-watch>
                            <md-card-title>
                              <md-card-title-text>
                                <span class="md-headline">Bartender Sales</span>
                                  <p>Sales for shift: </p>
                                  <div layout="row">
                                      <md-checkbox ng-model="bt.early" aria-label="Checkbox 1" ng-disabled="bt.disableCheck('early')" ng-click="bt.switchData('early',bt.early)">
                                          Early
                                      </md-checkbox>
                                      <md-checkbox ng-model="bt.late" aria-label="Checkbox 2" ng-disabled="bt.disableCheck('late')" ng-click="bt.switchData('late',bt.late)">
                                          Late
                                      </md-checkbox>
                                      <md-checkbox ng-model="bt.total" aria-label="Checkbox 3" ng-disabled="bt.disableCheck('total')" ng-click="bt.switchData('total',bt.total)">
                                          Total
                                      </md-checkbox>
                                  </div>
                                  <div>
                                      <table class="tableCSS">
                                          <tr>
                                              <th ng-repeat="label in bt.labels" ng-click="bt.changeSort(label)" style="cursor: pointer;">{{label}}</th>
                                          </tr>
                                          <tr ng-repeat="bartender in bt.data|orderBy :bt.sortType:bt.sortReverse">
                                              <td ng-repeat="(key,value) in bartender track by $index">{{value}}</td>
                                          </tr>
                                      </table>
                                  </div>
                              </md-card-title-text>
                            </md-card-title>
                        </md-card>
                    </div>
                    <div flex="40"  layout="row" layout-align="center">
                        <md-card flex md-theme="cyan-theme" ng-controller="advertisementController as ad" ng-init="ad.setAds(personal.selectedBar.id)"md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Advertisements</span>
                                    <md-input-container >
                                        <label>Ad platform</label>
                                        <md-select ng-model="ad.selectedAd" ng-change="ad.setData(ad.selectedAd)">
                                            <md-option ng-repeat="campaign in ad.getAds()" ng-value="campaign">
                                                {{campaign.platformName}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div ng-repeat="platform in ad.getAds()" ng-show="ad.selectedAd==platform">
                                        <b><label>Start Date: </label></b>{{ad.selectedAd['startDate'] | date:"MM/dd/yyyy"}}<br>
                                        <label>Earnings for {{ad.selectedAd['startDate'] | date:"MMMM"}}: $</label>{{ad.getAdEarnings(ad.selectedAd['startDate'] | date:"M")}}.00<br><br>
                                        <b><label>End Date: </label></b>{{ad.selectedAd['endDate'] | date:"MM/dd/yyyy"}}<br>
                                        <label>Earnings for {{ad.selectedAd['endDate'] | date:"MMMM"}}: $</label>{{ad.getAdEarnings(ad.selectedAd['endDate'] | date:"M")}}.00<br><br>
                                        <canvas  id="line" class="chart chart-bar"
                                                 chart-data="ad.data"
                                                 chart-labels="ad.labels"
                                                 chart-series="ad.series"
                                                 chart-options="ad.options"
                                        >
                                        </canvas>
                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <md-card flex md-theme="cyan-theme" ng-controller="beerInfoController as beerCtrl" ng-init="beerCtrl.setAllBeers(personal.selectedBar.id)">
                            <md-card-title>
                              <md-card-title-text>
                                <span class="md-headline">Beer Info</span>
                                  <md-input-container >
                                      <label>Add beer data</label>
                                      <md-select ng-model="beerCtrl.newBeer" ng-change="beerCtrl.addBeer(beerCtrl.newBeer)">
                                          <md-option ng-repeat="beer in beerCtrl.getAllBeers()| orderBy: ['manuf','name']" ng-show="!beerCtrl.beerDict.includes(beer.manuf + ': ' + beer.name)" ng-value="beer">
                                              {{beer.manuf + ': ' + beer.name}}</md-option>
                                      </md-select>
                                  </md-input-container>
                                  <div>
                                      <md-button class="md-raised" ng-repeat="(key,value) in beerCtrl.beerDict" ng-click="beerCtrl.removeBeer(key)">{{key}}</md-button>
                                  </div>
                                  <br>
                                  <div>
                                      <canvas  id="line" class="chart chart-bar"
                                               chart-data="beerCtrl.data"
                                               chart-labels="beerCtrl.labels"
                                               chart-series="beerCtrl.series"
                                      >
                                      </canvas>
                                  </div>
                              </md-card-title-text>
                            </md-card-title>
                        </md-card>
                    </div>
                    <div flex="40" layout="row" layout-align="center">
                        <md-card flex md-theme="cyan-theme" ng-controller="drinkerController as d" ng-init="d.setDrinkers(personal.selectedBar.id)"md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Drinker Data</span><br>
                                    <div>
                                        <table class="tableCSS">
                                            <tr>
                                                <th ng-repeat="label in d.labels" ng-click="d.changeSort(label)" style="cursor: pointer;">{{label}}</th>
                                            </tr>
                                            <tr ng-repeat="drinker in d.data|orderBy :d.sortType:d.sortReverse">
                                                <td ng-repeat="(key,value) in drinker track by $index">{{value}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <md-card flex md-theme="cyan-theme" ng-controller="musicTrendController as music" ng-init="music.setTrends(personal.selectedBar.id)"md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Music Trends</span>
                                    <md-card-content>
                                        <div>
                                            <canvas id="line" class="chart chart-bar"
                                                    chart-data="music.data"
                                                    chart-labels="music.labels"
                                                    chart-options="music.options"
                                            >
                                            </canvas>
                                        </div>
                                    </md-card-content>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                    </div>
                </div>
            </div>
            <div flex="10" style="background-color: none;">
            </div>
        </div>

    </md-content>
    <md-content ng-if="page.currPage=='modify_bar_data'" ng-controller="modifyDataController as mod" layout-padding>

        <md-content >
            <form name="drinkerForm">
            <h2>Add a new drinker: </h2>
            <md-input-container>
                <label>Name</label>
                <input ng-model="mod.drinker.name" required>
            </md-input-container>
            <md-input-container>
                <label>Age</label>
                <input ng-model="mod.drinker.age" required>
            </md-input-container>
            <md-input-container>
                <label>Gender</label>
                <md-select ng-model="mod.drinker.gender"  required>
                    <md-option ng-repeat="gender in mod.genderOptions"  ng-value="gender.abbrev">
                        {{gender.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Street Address</label>
                <input ng-model="mod.drinker.street_address" required>
            </md-input-container>
            <md-input-container>
                <label>City</label>
                <input ng-model="mod.drinker.city" required>
            </md-input-container>
            <md-input-container>
                <label>State</label>
                <md-select ng-model="mod.drinker.state"  required>
                    <md-option ng-repeat="state in mod.states"  ng-value="state.abbrev">
                        {{state.abbrev}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Salary</label>
                <input type="text" ng-model="mod.drinker.salary" required>
            </md-input-container>
            <md-input-container>
                <label>Spending per night</label>
                <input ng-model="mod.drinker.spending_per_night" required >
            </md-input-container>
            <md-input-container>
                <label>Crowding Preference</label>
                <md-select ng-model="mod.drinker.crowding_pref"  required>
                    <md-option ng-repeat="pref in mod.prefs"  ng-value="pref">
                        {{pref}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Relationship Status</label>
                <md-select ng-model="mod.drinker.relationship_status"  required>
                    <md-option ng-repeat="status in mod.statuses"  ng-value="status">
                        {{status}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised" ng-click="mod.addDrinker(mod.drinker)" ng-disabled="drinkerForm.$invalid">Add new drinker</md-button>
            </form>
        </md-content>

        <md-content ng-init="mod.setData()">
            <form name="beerForm">
            <h2>Add a new beer to sell at your bar: </h2>
            <p>Either add a new beer to sell at your bar, or update the sales price of an existing beer!</p>
            <md-input-container>
                <label>Bar</label>
                <md-select ng-model="mod.beer.bar_id" required>
                    <md-option ng-repeat="bar in mod.getBars()" ng-value="bar.id">
                        {{bar.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Beer</label>
                <md-select ng-model="mod.beer.beer_id"  required>
                    <md-option ng-repeat="beer in mod.getBeers()" ng-value="beer.id">
                        {{beer.manuf+': '+beer.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-checkbox ng-model="mod.drinker.is_on_tap" aria-label="Checkbox 1" >
                    On tap?
                </md-checkbox>
            </md-input-container>
            <md-input-container>
                <label>Sales Price</label>
                <input ng-model="mod.beer.price" required>
            </md-input-container>
            <md-button class="md-raised" ng-click="mod.addBeer(mod.beer)" ng-disabled="beerForm.$invalid">Add/update beer</md-button>
            </form>
        </md-content>


    </md-content>
</body>